
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-md-6 welcome-left ">
        <img src="~/images/img1.jpg" alt="" />
    </div>
    <div class="col-md-6 welcome-right">
        <h3 class="title">Welcome!</h3>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
        <div class="welcome-info">
            <div class="col-md-2 welcome-text wtext-left">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </div>
            <div class="col-md-10 welcome-text wtext-right">
                <h4>Ipsum</h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="welcome-info">
            <div class="col-md-2 welcome-text wtext-left">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </div>
            <div class="col-md-10 welcome-text wtext-right">
                <h4>Ipsum</h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>

